.mobile-menu-toggle {
    @media (min-width: 600px) {
        display: none;
    }
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 1.5rem;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.mobile-menu-toggle:checked + .hamburger > div {
    transform: rotate(135deg);
}

.mobile-menu-toggle:checked + .hamburger > div:before,
.mobile-menu-toggle:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu {
    visibility: visible;
}

.hamburger {
    @media (min-width: 600px) {
        display: none;
    }
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 1.5rem;
    background: $action;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

    div {
        position: relative;
        flex: none;
        width: 70%;
        height: 4px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    > div::before,
    ::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: -10px;
        width: 100%;
        height: 4px;
        background: inherit;
    }
    > div::after {
        top: 10px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 70%;
    visibility: hidden;
}

.menu-animater {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background: $primary;
    border: 2px solid $action;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
    transform: scale(0);
    opacity: 0;
    transition: all 0.4s ease;
}

.mobile-menu-toggle:checked ~ .mobile-menu > div {
    transform: scale(1);
    opacity: 1;
}
