.NavbarLink {
    color: $action;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    &:focus {
        outline: none;
    }

    cursor: pointer;

    &:hover {
        color: $background;
        background: $action;
        text-decoration: none;
        border-top: 2px solid $action;
    }
}

.NavbarLinkActive {
    @extend .NavbarLink;
    border-bottom: 2px solid $action;
}

.inline-link {
    color: $action;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
    &:hover {
        color: $action;
        border-bottom: 1px solid $action;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.with-margin {
    margin-left: 20px;
}
