.close-cross {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    opacity: 1;

    &:before,
    &:after {
        position: fixed;
        content: " ";
        height: 25px;
        width: 3px;
        background-color: $action;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:focus {
        outline: none;
    }
}

.close-button {
    position: fixed;
    z-index: 2;
    top: 22px;
    right: 28px;
    width: 22px;
    height: 22px;
    opacity: 0;
    ::-moz-focus-inner {
        border: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.back-button {
    display: flex;
    align-items: center;
    align-self: flex-start;
    text-align: left;
    color: $action;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
    ::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        text-decoration: none;
        opacity: 1;
        color: $action;
    }
    &:focus {
        outline: none;
    }
}

.back-arrow {
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.basic-button {
    background: $background;
    color: $action;
    align-items: center;
    height: 2.5rem;
    border: 2px solid $action;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin-top: 30px;

    &:hover {
        color: $background;
        background: $action;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    }

    &:active {
        transition: 0.1s;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    }
}

.edit-button {
    display: flex;
    justify-content: center;
    @extend .basic-button;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
        text-decoration: none;
    }
}

.abort-button {
    @extend .edit-button;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.delete-button {
    @extend .abort-button;
    color: $warning;
    border: 2px solid $warning;

    &:hover {
        background: $warning;
        color: $primary;
    }
}
