.main-container {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
}

.background-container {
    background: $background;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    margin-top: 6rem;
}

.content-row {
    display: flex;

    width: 100%;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.content-column {
    float: left;
    width: 50%;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.gap {
    width: 50px;
    @media (max-width: 600px) {
        display: none;
    }
}

.bottom-container {
    width: 100%;
}

.post-container {
    border: 1px solid $primary;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-wrapper {
    align-self: flex-start;
    display: flex;
    align-items: center;
}
