.contact-map {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    margin-top: 30px;

    &.zoomHint::after {
        justify-content: center;
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        content: "Verwende Strg+Scrollen zum Zoomen der Karte";
        padding: 15px;
        position: absolute;
        z-index: 400;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

    &.dragHint::after {
        @extend .zoomHint;
        content: "Verwende zwei Finger um die Karte zu bewegen";
    }

    &.macZoomHint::after {
        @extend .zoomHint;
        content: "Verwende cmd+Scrollen zum Zoomen der Karte";
    }
}
