.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    color: $background;
    background: $primary;
    -webkit-box-shadow: inset 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
}

.footer-link {
    color: $secondary;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: $primary;
        background: $secondary;
        text-decoration: none;
    }
}
