.header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    height: 5rem;
    width: 100%;
    background: $secondary;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

.logo-link {
    grid-column: 1 / 2;
    margin-left: 20%;
    cursor: initial;
    &:focus {
        outline: none;
    }
}
