.slider-wrapper {
    margin-top: 5rem;
    width: 100%;
    z-index: 1;
}

.slider-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.right-image {
    width: 100%;
    padding: 15px;
}

.right-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left: 10px;
    margin-bottom: 10px;
    background: $primary;
}

// Image Modal

.img-modal-link {
    &:hover {
        cursor: pointer;
    }
}

.img-modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: $primary;
}

.modal-image {
    height: 85%;
}

// Modifies the opened bootstrap modal

.modal-backdrop {
    position: initial;
}
