.logo {
    fill: $primary;
    height: 3em;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
}
.teaser-logo {
    width: 35%;
    margin: 20px;
}

.add {
    width: 13px;
    height: 13px;
    fill: $action;
    margin-right: 10px;
}
