.teaser-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.teaser-link {
    &:hover {
        text-decoration: none;
    }
    ::-moz-focus-inner {
        border: 0;
    }
}

.teaser-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    margin: 2rem;

    @media (max-width: 800px) {
        margin: 0.8rem;
        height: 250px;
        width: 150px;
    }
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

.teaser-heading {
    @media (max-width: 800px) {
        display: none;
    }
    text-align: left;
    margin-bottom: 0px;
    font-weight: 700;
    width: 100%;
    padding-left: 5%;
    color: $font;
}

.text-wrapper {
    @media (max-width: 800px) {
        -webkit-line-clamp: 5;
    }
    padding: 5%;
    height: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $font;
}
