@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);@font-face {
  font-family: Carlito;
  src: url(/fonts/Carlito-Regular.eot?daf5b8c706d7ba3b150de2426536b6cb);
  /* IE9 Compat Modes */
  src: url(/fonts/Carlito-Regular.eot?daf5b8c706d7ba3b150de2426536b6cb) format("embedded-opentype"), url(/fonts/Carlito-Regular.otf?1b3f4830561f547dbc7e564cd57e147c) format("opentype"), url(/fonts/Carlito-Regular.svg?c5a03375563c89810844c0916bb7d921) format("svg"), url(/fonts/Carlito-Regular.ttf?68e141c4b11dc9ed34c130f56ecde567) format("truetype"), url(/fonts/Carlito-Regular.woff?04017436ae1fa7bb762824a468adfe92) format("woff"), url(/fonts/Carlito-Regular.woff2?592eccaa2af2ecdfd61417f4cf86a55e) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.align-left,
.margin-bottom {
  text-align: left;
  width: 100%;
}

.margin-bottom {
  margin-bottom: 40px;
  padding: 0;
}

.image-underline {
  color: #abbacc;
}

.post-text {
  margin-top: 50px;
}

* *,
* *:before,
* *:after {
  box-sizing: inherit;
}

* html {
  box-sizing: border-box;
}

* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #292929;
  font-family: "Carlito";
  font-weight: 500;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  height: 5rem;
  width: 100%;
  background: #abbacc;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.logo-link {
  grid-column: 1/2;
  margin-left: 20%;
  cursor: initial;
}

.logo-link:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10em;
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0;
  color: #fff;
  background: #272932;
  box-shadow: inset 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
}

.footer-link {
  color: #abbacc;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  cursor: pointer;
  color: #272932;
  background: #abbacc;
  text-decoration: none;
}

.main-container {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.background-container {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  margin-top: 6rem;
}

.content-row {
  display: flex;
  width: 100%;
}

@media (max-width: 600px) {
  .content-row {
    flex-direction: column;
    align-items: center;
  }
}

.content-column {
  float: left;
  width: 50%;
}

@media (max-width: 600px) {
  .content-column {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.gap {
  width: 50px;
}

@media (max-width: 600px) {
  .gap {
    display: none;
  }
}

.bottom-container {
  width: 100%;
}

.post-container {
  border: 1px solid #272932;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-wrapper {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.mobile-menu-toggle {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 1.5rem;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

@media (min-width: 600px) {
  .mobile-menu-toggle {
    display: none;
  }
}

.mobile-menu-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}

.mobile-menu-toggle:checked + .hamburger > div:before,
.mobile-menu-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu {
  visibility: visible;
}

.hamburger {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 1.5rem;
  background: #f26419;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

.hamburger div {
  position: relative;
  flex: none;
  width: 70%;
  height: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger ::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

.hamburger > div::after {
  top: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 70%;
  visibility: hidden;
}

.menu-animater {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background: #272932;
  border: 2px solid #f26419;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s ease;
}

.mobile-menu-toggle:checked ~ .mobile-menu > div {
  transform: scale(1);
  opacity: 1;
}

.Navbar {
  display: flex;
  grid-column: 3/4;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .Navbar {
    display: none;
  }
}

.NavbarLink,
.NavbarLinkActive {
  color: #f26419;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
}

.NavbarLink:focus,
.NavbarLinkActive:focus {
  outline: none;
}

.NavbarLink:hover,
.NavbarLinkActive:hover {
  color: #fff;
  background: #f26419;
  text-decoration: none;
  border-top: 2px solid #f26419;
}

.NavbarLinkActive {
  border-bottom: 2px solid #f26419;
}

.inline-link {
  color: #f26419;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}

.inline-link:hover {
  color: #f26419;
  border-bottom: 1px solid #f26419;
  text-decoration: none;
  cursor: pointer;
}

.inline-link:focus {
  outline: none;
}

.with-margin {
  margin-left: 20px;
}

.logo {
  fill: #272932;
  height: 3em;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.5);
}

.teaser-logo {
  width: 35%;
  margin: 20px;
}

.add {
  width: 13px;
  height: 13px;
  fill: #f26419;
  margin-right: 10px;
}

.slider-wrapper {
  margin-top: 5rem;
  width: 100%;
  z-index: 1;
}

.slider-image {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.right-image {
  width: 100%;
  padding: 15px;
}

.right-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  display: flex;
  justify-content: center;
  width: 45%;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #272932;
}

.img-modal-link:hover {
  cursor: pointer;
}

.img-modal-background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: #272932;
}

.modal-image {
  height: 85%;
}

.modal-backdrop {
  position: initial;
}

.teaser-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.teaser-link:hover {
  text-decoration: none;
}

.teaser-link ::-moz-focus-inner {
  border: 0;
}

.teaser-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  .teaser-card {
    margin: 0.8rem;
    height: 250px;
    width: 150px;
  }
}

.teaser-heading {
  text-align: left;
  margin-bottom: 0px;
  font-weight: 700;
  width: 100%;
  padding-left: 5%;
  color: #292929;
}

@media (max-width: 800px) {
  .teaser-heading {
    display: none;
  }
}

.text-wrapper {
  padding: 5%;
  height: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #292929;
}

@media (max-width: 800px) {
  .text-wrapper {
    -webkit-line-clamp: 5;
  }
}

.close-cross {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.close-cross:before,
.close-cross:after {
  position: fixed;
  content: " ";
  height: 25px;
  width: 3px;
  background-color: #f26419;
}

.close-cross:before {
  transform: rotate(45deg);
}

.close-cross:after {
  transform: rotate(-45deg);
}

.close-cross:focus {
  outline: none;
}

.close-button {
  position: fixed;
  z-index: 2;
  top: 22px;
  right: 28px;
  width: 22px;
  height: 22px;
  opacity: 0;
}

.close-button ::-moz-focus-inner {
  border: 0;
}

.close-button:hover {
  cursor: pointer;
}

.back-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  text-align: left;
  color: #f26419;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

.back-button ::-moz-focus-inner {
  border: 0;
}

.back-button:hover {
  text-decoration: none;
  opacity: 1;
  color: #f26419;
}

.back-button:focus {
  outline: none;
}

.back-arrow {
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.basic-button,
.edit-button,
.abort-button,
.delete-button {
  background: #fff;
  color: #f26419;
  align-items: center;
  height: 2.5rem;
  border: 2px solid #f26419;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}

.basic-button:hover,
.edit-button:hover,
.abort-button:hover,
.delete-button:hover {
  color: #fff;
  background: #f26419;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
}

.basic-button:active,
.edit-button:active,
.abort-button:active,
.delete-button:active {
  transition: 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
}

.edit-button,
.abort-button,
.delete-button {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.edit-button:hover,
.abort-button:hover,
.delete-button:hover {
  text-decoration: none;
}

.abort-button,
.delete-button {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.abort-button:hover,
.delete-button:hover {
  opacity: 1;
}

.delete-button {
  color: #f00000;
  border: 2px solid #f00000;
}

.delete-button:hover {
  background: #f00000;
  color: #272932;
}

.contact-map {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.contact-map.zoomHint::after,
.contact-map.macZoomHint::after,
.contact-map.dragHint::after {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  content: "Verwende Strg+Scrollen zum Zoomen der Karte";
  padding: 15px;
  position: absolute;
  z-index: 400;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.contact-map.dragHint::after {
  content: "Verwende zwei Finger um die Karte zu bewegen";
}

.contact-map.macZoomHint::after {
  content: "Verwende cmd+Scrollen zum Zoomen der Karte";
}

