@import "./typography";
@import "./colors";

* {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    html {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $background;
        color: $font;
        font-family: "Carlito";
        font-weight: 500;
        margin: 0;
    }
}
