@import "./colors";

@font-face {
    font-family: Carlito;
    src: url("./fonts/Carlito-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Carlito-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./fonts/Carlito-Regular.otf") format("opentype"),
        /* Open Type Font */ url("./fonts/Carlito-Regular.svg") format("svg"),
        /* Legacy iOS */ url("./fonts/Carlito-Regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./fonts/Carlito-Regular.woff")
            format("woff"),
        /* Modern Browsers */ url("./fonts/Carlito-Regular.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.align-left {
    text-align: left;
    width: 100%;
}

.margin-bottom {
    @extend .align-left;
    margin-bottom: 40px;
    padding: 0;
}

.image-underline {
    color: $secondary;
}

.post-text {
    margin-top: 50px;
}
